# VOLTTRON SystemD unit
# Exec Start exectues the volttron platform script built by bootstrap
# This does not have to activate the virtualenv as the script will do that
[Unit]
Description=VOLTTRON Platform Service
After=network.target

[Service]
Type=simple
User={{ansible_user}}
Group={{ansible_user}}
WorkingDirectory={{volttron_root}}
#Uncomment and change this to specify a different VOLTTRON_HOME
Environment="VOLTTRON_HOME={{volttron_home}}"
ExecStart={{volttron_venv}}/bin/volttron -vv {% if use_rotating_log is defined and rotating_log_script is defined and (use_rotating_log | bool) %}-L {{rotating_log_script}} {% endif %}

ExecStop={{volttron_venv}}/bin/volttron-ctl shutdown --platform

[Install]
WantedBy=multi-user.target
